{{template "header"}}

            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        <header>
                            <ul class="nav masthead-nav">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="../Crew/crew.html">Crew</a></li>
                                <li class="active"><a href="chat.html">Chat</a></li>
                                <li><a href="../about/about.html">About</a></li>
                            </ul>
                        </header>
                    </nav>
                </div>
            </div>


            <div class="inner cover well tablescroll">
                <ul class="list-unstyled" id="messages"></ul>
                <form id="chatbox">
                    <label for="chat">{{.Name}}:</label>
                    <textarea class="form-control" rows="1" id="chat"></textarea>
                    <button class="btn btn-sm btn-primary" type="submit">Send</button>
                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <h6>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</h6>
                </div>
            </div>

{{template "footer"}}