{{template "header"}}

            <div class="masthead clearfix">
                <div class="inner">
                    <nav>
                        <header>
                            <ul class="nav masthead-nav">
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="../Crew/crew.html">Crew</a></li>
                                <li class="active"><a href="chat.html">Chat</a></li>
                                <li><a href="../about/about.html">About</a></li>
                            </ul>
                        </header>
                    </nav>
                </div>
            </div>


            <div class="inner cover well">
                <form class="form-signin" method="post" action="/Chat/">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="input" class="sr-only">User</label>
                    <input type="text" id="input" class="form-control" placeholder="Username" name = "username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberme" value="true"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </form>
            </div>

{{template "footer"}}
