{{template "header"}}

        <div class="masthead clearfix">
          <div class="inner">
            <nav>
              <header>
                <ul class="nav masthead-nav">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../Crew/crew.html">Crew</a></li>
                  <li><a href="../Chat/login.html">Chat</a></li>
                  <li class="active"><a href="about.html">About</a></li>
                </ul>
              </header>
            </nav>
          </div>
        </div>


        <div class="inner cover well">
          <h4>Where am I?</h4>
          <p>{{.Msg}}</p>
        </div>

{{template "footer"}}