{{template "header"}}

        <div class="masthead clearfix">
          <div class="inner">
            <nav>
              <header>
                <ul class="nav masthead-nav">
                  <li><a href="../index.html">Home</a></li>
                  <li class="active"><a href="../Crew/crew.html">Crew</a></li>
                  <li><a href="../Chat/login.html">Chat</a></li>
                  <li><a href="../about/about.html">About</a></li>
                </ul>
              </header>
            </nav>
          </div>
        </div>


        <div class="inner cover well tablescroll">
          <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Security Clearance</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
            {{range .}}
             <tr>
               <th scope="row">{{.ID}}</th>
               <td>{{.Name}}</td>
               <td>{{.SecClearance}}</td>
               <td>{{.Position}}</td>
             </tr>
            {{end}}
            </tbody>
          </table>
        </div>

{{template "footer"}}